{% extends "base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
        <h3>Financial Planner - {% trans "Sign In" %}</h3>
        <p>
        {% blocktrans %}Welcome to the Finance-Planner website.  
        Please feel free to browse this site and read articles as a guest user.<br>  
        To personalise your experience - creating a personal readlist, action tracking, please <a href="{{ signup_url }}">create an account</a>.<br>  
        Return to <a href="{{ login_url }}">this page</a> to sign in.{% endblocktrans %}
        </p>
        </div> <!-- end div class ="col-md-8 mt-3 offset-md-2"-->
    </div> <!-- end div class="row" -->
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {% if redirect_field_value %}
                    <input type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}" />
                {% endif %}
            {% endslot %}
            {% slot actions %}
            <button class="btn btn-signup right" type="submit">{% trans "Sign In" %} &raquo;</button>
            {% endslot %}
        {% endelement %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        </div> <!-- end div class ="col-md-8 mt-3 offset-md-2"-->
    </div> <!-- end div class="row" -->
</div> <!-- end div class="container"-->
{% endblock content %}
