{% extends "base.html" %}
{% load allauth i18n socialaccount %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Financial Planner - User {% trans "Sign Up" %}</h3>
        <p>
        {% blocktrans %}Already have an account? Then please
         <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>
        </div> <!-- end div class ="col-md-8 mt-3 offset-md-2"-->
    </div>  <!-- end div class="row" -->
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
        {% url 'account_signup' as action_url %}
        <h5></h5>
        <br>
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            <br>
            <p> NB:  It's best not to use email as username, as username may be displayed publicly</p>
            <p> Password must be at least 8 characters, can’t be a common word or similar to username or email, and can't be all numbers   </p>
                <script>"change_display()"</script>
            {% if redirect_field_value %}
            <!-- DMcC may need to push redirect towards my_planner.html -->
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            <button class="btn btn-signup right" type="submit">{% trans "Sign Up" %} &raquo;</button>
        {% endslot %}
        {% endelement %}
        <!-- note that text inserted at this position will appar underneath submit button -->
        
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        </div><!-- end div class ="col-md-8 mt-3 offset-md-2"-->
    </div> <!-- end div class="row" -->
</div> <!-- end div class="container"-->

<script>
// below is an attempt to amend the page payout for the register screen in order to avoid displaying the password rules //
// in center of screen, would prefer to display at bottom of screen //
function change_display() {
    console.log("In script change_display()");
    const second_password = document.getElementById("id_password2");
    const prev_field = second_password.parentElement.previousElementSibling.previousElementSibling
    console.log("Previous field is ", prev_field);
    prev_field.classList.add("hide-field"); 
}    
change_display();
</script>
{% endblock content %}
