body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

#navbarText {
    justify-content: end;
    flex-grow: 0;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.large {
    font-stretch: ultra-expanded;
}

.card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    opacity: 75%;
}

.profile-card {
    background-color: rgb(209, 231, 221);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.article-link {
    text-decoration: none;
    color: #445261;
}

.article-link:hover,
.page-link {
    color: #E84610;
}

.article-title {
    margin-top: 20%;
    margin-left: 5%;
}

.article-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.btn-edit {
    background-color: #23BBBB;
    color: #fff;
}

.btn-delete {
    background-color: #E84610;
    color: #fff;
}

.icon-delete {
    color: red;
}

.icon-edit {
    color: blue;
}

.icon-copy {
    color: green;
}

.btn-cancel {
    background-color: gray;
    color: #fff;
}
.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.cancel-link {
    text-decoration: bold;
}


.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.table-bordered {
    border-radius: 4px;
}

thead {
    border-radius: 5px 5px 0px 0px;
}

tbody {
    border-radius: 0px 0px 5px 5px;
}

/* Below are some classes used for the user action form */
/* These are used in conjuntion with some js code to set/unset element classes to pickup display attributes */

.hide-field {
    display: none;
}

.long-text-input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-form {
    border-radius: 5px;
    background-color: rgb(209, 231, 221);
    padding: 20px;
  }

  /* Below are some settings for allauth fields.... the py code is not available so this is a workaround to highlight error messages which occur */
  .errorlist {
    color: red;
    display: bold;
  }

  li > marker {
    color: purple;
  }

  .allauth-listyle {
    list-style-type:disc;
  }