<!-- nav-profile.html determines how the profile is displayed on the navigation menu, 
    which varies depending on whether the user is logged in/registered or not, 
    and whether the logged-in user is superuser -->

<!-- settings dropdown menu (only visible to signed-in Admin users) -->
{% if request.user.is_authenticated and request.user.is_superuser %}
    <li id="sysmaint-link" class="list-inline-item dropdown">
        <a class="text-black nav-link" href="#" id="sysmaint-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-gear fa-lg"></i></div>
            <p class="my-0">SysMaint</p>
        </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options">
            <a href="{% url 'maint_articles' %}"  class="dropdown-item">Articles-admin</a>
            <!-- DMcC 15/02/24:  Temporarily hide these options as not yet functional -->
            <!-- <a href="{% url 'maint_users' }" class="dropdown-item">Users-admin</a>
            <a href="" class="dropdown-item">Promotions-admin</a> -->
        </div>
    </li>
{% endif %}
            
{% if request.user.is_authenticated %}
<!-- signed in & user profile exists-->
    <li class="list-inline-item dropdown profile-link">
        <a class="text-black nav-link user-options" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <!-- display profile image -->
                <span class="text-muted navbar-image-text"><img class="navbar-image" src="{{ request.user.userprofile.profile_image.url }}" alt="Users avatar logo"></span>
                <p class="my-0">Hi, {{ request.user }}!</p>    
            </div>
        </a>
                
        <ul class="dropdown-menu border-0" aria-labelledby="user-options">    
            <!-- <a href="{% url 'profile_detail' request.user.userprofile.id %}" class="dropdown-item">My Profile</a> -->
            <li><a class="dropdown-item nav-link" href="{% url 'my_planner' %}">My Planner</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
        </ul>
    </li> <!-- end li class = list-inline-item dropdown profile-link -->
{% else %}
    <!-- not signed in -->
    <li class="list-inline-item dropdown profile-link">
        <a id="user-options-large-display" class="text-black nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">Profile</p>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options-large-display">
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        </div>
    </li>    
{% endif %}