{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="container bg-grey">
    <div class="row g-0">
        <div class="row d-flex justify-content-center">
                <div class = "row z-depth-3">
                    <div class="profile-card col-sm-11 rounded">
                        <h1 class="mt-3 text-center">About Us</h1>
                        <hr class="mt-0 bg-info">
                        <div class="row">
                            <div class="col-sm-4">
                                <h5>Why?</h5>
                                <p>Many adults in the Republic of Ireland struggle with financial decision-making* </p>
                                    <p>While there is a lot of good information available online, it can be hard to find and understand.
                                        It's hard to know which information to believe, and who to trust.
                                        </p>
                                    
                                    <p>Navigating complex websites and processes is not easy.  
                                        Keeping track of which steps you've taken, what's to be done next, 
                                        and how to find the correct advice for each step.
                                    Irish banks have largely withdrawn from offering customer-facing support or guidance.
                                    Financial Planner aims to fill that gap!</p>
                                    <p>(*Dept of Finance survey and publications, August 2023)</p> 
                                </div>
                            <div class="col-sm-4">
                                <h5>What?</h5>
                                <ul>
                                    <li>Not-for-profit and ad-free</li>
                                    <li>Will not re-use or pass on your information</li>
                                    <li>Presents articles based on trusted sources</li>
                                    <li>Helps navigate government websites</li>
                                    <li>Breaks complex tasks into manageable steps </li>
                                    <li>Track the actions you want to take</li>
                                    <li>To achieve the best financial outcomes</li>
                                </ul>
                                <br>
                                <p>Financial Planner welcomes feedback about this site, and suggestions for further site development.</p>
                                <p>The best way to is to leave a response on one of the site core articles such as 'FinancialPlanner - What'</p>
                                <br>
                                <div class="mt-2 text-center">
                                <form style="display: inline"  action="{% url 'home' %}" method="get">
                                    <button class="btn btn-signup right">Back to homepage</button>
                                </form>
                                </div>  
                            </div>
                            <div class="col-sm-4">
                                <h5>How?</h5>
                                <p>Financial Planner is a not-for-profit site which aims to help by providing regular, ad-free, impartial best-practice guides (articles).</p>  
                                    <p>Many of the articles are specific to the Republic of Ireland. Where possible, follow-on actions and links are suggested.</p>  
                                    
                                    By creating a reading list, a user can mark articles for further reading, and actions
                                 to be taken.  These can be tracked on the 'MyPlanner' site area, and can be maintaned as an action diary.</p>

                                 <p>Thank you for reading, and good luck with your financial journey.</p>  
                            </div>
  
                            </div> <!-- end class row -->    
                    
                
    <!-- DMcC 18/11/23 commented out as not currently needed -->
    <!--                <h4 class="mt-3">Site Engagement</h4>
                    <hr class="bg-primary">
                    <div class="row">
                        <div class="col-sm-3">
                        </div>
                        
                    </div> end class row -->
        
                    
                    
                </div> <!-- end div class col-sm-8 bg-info rounded-right -->    
                
            </div> <!-- end div class row z-depth-3 -->
            
        </div> <!-- end div class col-md-10 mt-5 pt-5-->
        
    </div> <!-- end div class row d-flex justify-content-center -->
    
</div> <!-- end div class row g-0 -->

            
</div> <!-- end id=actions-container -->
        <p></p>



</div> <!-- end div class container bg-grey -->
                            
{% endblock content %}