{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Article title goes in these h1 tags -->
                <!-- DMcC 15/11/23 need to add javascrpt functionality if the 'new' badge is to conditionally display based on article updated date -->
                <!-- note this requires change to Article model & views also to add the updated_on field -->
                <h1 class="article-title">{{ article.title }}  <span class="badge bg-secondary">New</span></h1>
                <!-- Add badge if article is recently created -->
                <h2></h2>
                <!-- Article author goes before the | the article's created date goes after -->
                <p class="article-subtitle">{{ article.author }} | {{ article.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in article.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%" class="rounded">
                {% else %}
                <img src="{{ article.featured_image.url }}" width="100%" class="rounded">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The article content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">{{ article.content | safe }}</p>
                <!-- want to view actions associated with the article before viewing comments -->
                <!-- div class="col-md-8 card mb-4  mt-3 " -->
                <!-- Need to allow for no actions, don't want to display table headings if so -->
                {% if actions %}
                <strong id="actions">Actions:</strong>
                <table class="table table-bordered table-hover table-responsive ">
                    <thead class="table-success">
                        <tr><h6>
                        <th>Copy to personal</th>
                        <th>Action</th>
                        <th>Url</th>
                        </h6>
                        </tr>
                    </thead>
                <!-- div class="card-body" -->
                <!-- We want a for loop inside the tags to iterate through each action in actions -->
                <form method="post" style="margin-top:1.3em";>
                    {% for action in actions %}
                    <tr class="text-muted">
                    <td><a href="{% url 'copy_action' action.id %}">Copy</a></td>
                    <td>{{action.action_desc| safe}}</td>
                    <td>{{action.action_url| safe}}</td>  
                    {% endfor %}
                    <br>
                {% else %}
                <strong id="actions">No Actions for this article:</strong>
                {% endif %}
                    
                </table>
            </div> <!-- class = "table-responsive"-->
            




                <div class="row">
                    <!-- functionality for likes -->
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'article_like' article.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type = "submit"  name="blogarticle_id" value = "{{article.slug}}" class="btn-like">
                                <i class = "fas fa-heart" data-bs-toggle="tooltip" title="Like"></i></button>
                                <span class="text-secondary">{{ article.number_of_likes }}</span>
                                {% else %}
                                <button type = "submit" name="blogarticle_id" value = "{{article.slug}}" class="btn-like">
                                <i class = "far fa-heart" data-bs-toggle="tooltip" title="Like"></i></button>
                                <span class="text-secondary">{{ article.number_of_likes }}</span>
                                {% endif %}
                            </form>
                            {% else %}
                            <i class = "far fa-heart"></i>
                            <span class="text-secondary">{{ article.number_of_likes }}</span>
                            {% endif %} <!-- end if user is authenticated -->                         
                        </strong>
                    </div> <!-- end div class col-1 -->

                    <!-- functionality for comments -->    
                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-comments" data-bs-toggle="tooltip" title="Comment"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ article.number_of_valid_comments }}</strong>
                    </div> <!-- end div class col-1 -->

                    <!-- functionality for bookmarks -->
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'article_bookmark' article.slug %}" method="POST">
                                {% csrf_token %}
                                {% if bookmarked %}
                                <button type = "submit"  name="blogarticle_id" value = "{{article.slug}}" class="btn-like">
                                <i class = "fas fa-bookmark" data-bs-toggle="tooltip" title="Bookmark"></i></button>
                                <span class="text-secondary">{{ article.number_of_bookmarks }}</span>
                                {% else %}
                                <button type = "submit" name="blogarticle_id" value = "{{article.slug}}" class="btn-like">
                                <i class = "far fa-bookmark" data-bs-toggle="tooltip" title="Bookmark"></i></button>
                                <span class="text-secondary">{{ article.number_of_bookmarks }}</span>
                                {% endif %}
                            </form>
                            {% else %}
                            <i class = "far fa-bookmark" data-bs-toggle="tooltip" title="Bookmark"></i>
                            <span class="text-secondary">{{ article.number_of_bookmarks }}</span>
                            {% endif %} <!-- end if user is authenticated -->                         
                        </strong>
                    </div> <!-- end div class col-1 -->

                </div> <!-- end div class row -->
                <div class="row"><strong>
                    {% if not user.is_authenticated %}
                    <div class="alert alert-warning" role="alert">
                        To comment, like, bookmark an article, or to create personal actions, you need to <a href="{% url 'account_login' %}">Login</a>
                    </div></strong>
                    {% endif %}
                </div>
            </div> <!-- end div card-body -->   
        </div> <!-- end div class col card mb-4  mt-3 left  top -->
    </div> <!-- end div class row -->
        
    <div class="row">
        <div class="col">
            <hr>
        </div> <!-- end div class col -->
    </div> <!-- end div class row -->

    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                    <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                    <!-- DMcC 14/11/23 got rid of field 'name' here and replaced with 'user' as its the username we wish to see...-->
                    {{ comment.user }}
                    <span class=" text-muted font-weight-normal">
                    <!-- The comment's created date goes here -->
                    {{ comment.created_on }} </span> wrote:</p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                    </div> <!-- end div class comments -->
                <!-- Our for loop ends here -->
                {% endfor %}
            </div> <!-- end div class card-body -->
        </div> <!-- end div class col-md-8 card mb-4 mt-3 -->

        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                <!-- Allow a authenticated user to leave a comment -->
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{user.username}}</p>
                <form method="post" style="margin-top:1.3em";>
                    {{ comment_form| crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %} <!-- if user is authenticated -->
                {% endif %} <!-- if commented -->
            </div> <!-- end div card-body --> 
        </div> <!-- end div col-md-4 card mb-4 mt-3 --> 
    </div> <!-- end div class row -->
</div> <!-- end div container -->

{% endblock content %}