{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <meta name="description" content="Financial Literacy Tutor Ireland.  Help navigate complex process and keep track of your progress with personal tasks">
        <meta name="keywords" content="finance, pension, financial advisor, financial literacy, financial planner, finance planner, student grant, fair deal scheme, "> 
        <meta property="og:title" content="FLIT | Financial Literacy">    
        <!--DMcC 13/09/24 added varaible path to favicon to overcome issue #1 favicon not displaying on sub-pages on deplooyed site -->
        <!-- <link rel="icon" type="image/png" href="../static/favicon.ico" sizes="16x16 32x32"   title="Euro icons created by Icongeek26 - Flaticon" > -->
        <!--Favicon-->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% endblock %}                

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    {% endblock %}

    {% block extra_css %}
    <!-- DMcC 09/11/24:  Include summernote css/js -->
    <!-- include summernote css/js-->
    <!-- link href="..\summernote-lite.min.css" rel="stylesheet" -->
    <link rel="stylesheet" href="{% static 'summernote/summernote-lite.min.css' %}">
    {% endblock %}

    {% block corejs %}
        <!-- DMcC 02/02/24 added in this extra link as my js functions are not being picked up.  I used this on BA walkthrough -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>  
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous"></script>
    
          <!-- Bootstrap Option 2: Separate Popper and Bootstrap JS -->

        <!-- DMcC 28/01/24 superceded?? Kept in as otherwise dropdow nav items stopped working -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js" 
            integrity="sha512-7rusk8kGPFynZWu26OKbTeI+QPoYchtxsmPeBqkHIEXJxeun4yJ4ISYe7C6sz9wdxeE1Gk3VxsIWgCZTc+vX3g==" 
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://kit.fontawesome.com/a5acd5b07c.js" crossorigin="anonymous"></script>
    {% endblock %}
    
  
    <title>FLIT | Financial Literacy
        {% block extra_title %}
        {% endblock %}
    </title>

</head>

<!-- DMcC 16/09/24 take styling from jeweller 
 <body class="d-flex flex-column h-100 main-bg"> -->
<body>
<!-- DMcC 16/09/24 insert entire topnav code from another project (Jeweller) -->
    <header class="container-fluid fixed-top">
            
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-end">
            <div class="container-fluid"> <!--- DMcC 18/09/24 retain this to justify-->
                <a class="navbar-brand" href="{% url 'home' %}">
                    <span class="brand">
                        <img class="logo" src="{% static 'flit_logo.png' %}" alt="FLIT.ie logo" >
                        FLIT.ie
                </a>
                <span class="navbar-text text-muted">Empowering Women to Financial Security    
                </span>

                <!-- search-the-site function displays as large field on bigger screens, --> 
                <!-- and as icon with drop-down menu on smaller screens -->
                <div id="search-field" class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <!-- search form -->
                    <form method="GET" action="{% url 'home' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div> <!-- end class "input-group-append"-->
                        </div> <!-- end class "input-group w-100"-->
                    </form>  <!-- end search form -->
                </div> <!-- end div search-field -->

                {% if user.is_authenticated %}
                    {% if request.user.userprofile %}
                        {% if user.is_superuser %}
                        <li class="list-inline-item dropdown" id="sysmaint-link">
                            <a class="text-black nav-link" href="#" id="sysmaint-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-gear fa-lg"></i></div>
                                <p class="my-0">SysMaint</p>
                            </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                <a href="{% url 'maint_articles' %}"  class="dropdown-item">Articles-admin</a>
                                <a href="{% url 'maint_users' %}"  class="dropdown-item">Users-admin</a>
                                <a href="{% url 'maint_courses' %}"  class="dropdown-item">Courses-admin</a>
                            </div>
                        </li>
                        {% endif %}
                        <li class="list-inline-item dropdown profile-link">
                        <a id="" class="nav-link text-black" href="#" data-toggle="dropdown" area-haspopup="true"  aria-expanded="false">
                            <img class="navbar-image" 
                            src="{{request.user.userprofile.profile_image.url}}" alt="User ">Hi, {{user.username}}!</a>
                        <ul class="dropdown-menu border-0" aria-labelledby="user-options1">
                            <li><a class="dropdown-item nav-link" href="{% url 'my_planner' %}">Account</a></li>
                            <li><a class="dropdown-item nav-link" href="{% url 'my_planner' %}">My Planner</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                        </ul>
                        </li>
                        <li class="list-inline-item dropdown profile-link">
                            <a id="" class="text-black nav-link" href="#" data-toggle="dropdown" area-haspopup="true"  aria-expanded="false">
                                </a>
                        </li>
                        <!-- <img href="{{user.user_profile.profile_image.url}}"> -->
                    {% else %}
                    <!-- user is authenticated but no userprofile -->
                    {% endif %}
                    
                {% else %}
                <!--  user not authenticated or doesnt have a userprofile -->
                <li class="nav-item list-inline-item dropdown profile-link ">
                    <a id="user-options-large-display" class="text-black nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">Account</p>
                        </div>
                    </a>
                    <ul class="dropdown-menu border-0" aria-labelledby="user-options-large-display">
                        <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                        <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                    </ul>
                </li>
                {% endif %}

                <li class="nav-item list-inline-item dropdown profile-link">
                    <a id="user-options-large-display" class="text-black nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-cog"></i></div>
                            <p class="my-0">Menu</p>
                        </div>
                    </a>
                    <ul class="dropdown-menu border-0" aria-labelledby="user-options-large-display">
                        <li><a class="dropdown-item" href="{% url 'survey1' %}">Take Survey</a></li>
                        <li><a class="dropdown-item" href="{% url 'planner' %}">Make Planner</a></li>

                        <li><a class="dropdown-item" href="{% url 'user_cohorts_courses' %}">Take Course</a></li>
                        <li><a class="dropdown-item" href="{% url 'journal1' %}">Add to journal</a></li>
                        <li><a class="dropdown-item" href="{% url 'grant1' %}">Grant Survey</a></li>
                    </ul>
                </li>
          
                <!-- Ste 26/10/24 add button to take survey -->
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                </div>

                <div class="collapse navbar-collapse" id="navbarText">
                </div>
    

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                    </ul>
                </div>
            </div>  <!-- end div class container-fluid-->
        </nav> 
    </header>
<!-- DMcC 16/09/24 end insert -->


    <!-- Add in message processing -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">Disclaimer: The information provided on this website   <!-- (STE) disclaimer added 23/10/24-->
            is for educational purposes only and should not be considered 
            financial advice. While we strive to provide accurate and up-to-date 
            information, we make no guarantees regarding the completeness, 
            reliability, or suitability of the information presented. 
            Always consult with a Qualified Financial Advisor (QFA) before 
            making any financial decisions. Your use of this information 
            is at your own risk.</p>
            <br>
            <p class="m-0 text-center text-white"><i class="fa fa-copyright" aria-hidden="true"></i>AllSkills Tech 2024</p>
        <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i></p>
    </footer>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>
    <script src="{% static 'summernote/summernote-lite.min.js' %}">
    </script>
    <!-- DMcC 09/11/24 - add summernote -->
    <script type="text/javascript">
        $(document).ready(function() {
        $('#summernote').summernote();
        });
    </script>
</body>

</html>