{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for article in article_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in article.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ article.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ article.author }}</p>
                                </div> <!-- end div image-flash -->
                            </div> <!-- end div image-container -->
                            <a href=" {% url 'article_detail' article.slug %}" class="article-link">
                                <h2 class="card-title">{{ article.title }}</h2>
                                <p class="card-text">{{ article.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ article.created_on }} 
                                <!-- <i class="far fa-heart"></i> {{ article.number_of_likes }} -->
                                <!-- would like to bring likes functionality through to this article summary section -->
                                {% if user.is_authenticated %}
                                    <!-- allow/activate button push on likes for authenticated users -->
                                    <form class="d-inline" action="{% url 'article_like' article.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if liked %}
                                            <button type = "submit"  name="blogarticle_id" value = "{{article.slug}}" class="btn-like">
                                            <i class = "text-muted fas fa-heart" data-bs-toggle="tooltip" title="# Likes"></i></button>{{article.number_of_likes}}
                                        {% else %}
                                            <button type = "submit" name="blogarticle_id" value = "{{article.slug}}" class="btn-like">
                                            <i class = "text-muted far fa-heart" data-bs-toggle="tooltip" title="Like"></i></button>{{article.number_of_likes}}
                                        {% endif %}
                                    </form>
                                    <!-- Number of valid comments  -->
                                    <i class="text-muted far fa-comments" data-bs-toggle="tooltip" title="Comment"></i> {{ article.number_of_valid_comments }}
                                    
                                    <!-- If user is authenticated, activate bookmarks button -->
                                    <form class="d-inline" action="{% url 'article_bookmark' article.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if bookmarked %}
                                            <button type = "submit"  name="blogarticle_id" value = "{{article.slug}}" class="btn-like">
                                            <i class = "text-muted fas fa-bookmark" data-bs-toggle="tooltip" title="Comment"></i></button>{{article.number_of_bookmarks}}
                                        {% else %}
                                            <button type = "submit" name="blogarticle_id" value = "{{article.slug}}" class="btn-like">
                                            <i class = "text-muted far fa-bookmark" data-bs-toggle="tooltip" title="Bookmark"></i></button>{{article.number_of_bookmarks}}
                                        {% endif %}
                                    </form>
                            
                                {% else %}
                                <!-- user not authenticated just show neutral images for likes comments bookmarks -->
                                    <i class = "text-muted far fa-heart" data-bs-toggle="tooltip" title="Like"></i>{{article.number_of_likes}}
                                    <i class="text-muted far fa-comments" data-bs-toggle="tooltip" title="Comment"></i> {{ article.number_of_valid_comments }}
                                    <i class="text-muted far fa-bookmark" data-bs-toggle="tooltip" title="Bookmark"></i> {{article.number_of_bookmarks}}
                                {% endif %} <!-- end if user is authenticated -->                                                        
                            </p> 
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class = "row">
                    {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>    

{%endblock%}