{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="container bg-grey">
    <div class="row g-0">
        <div class="row d-flex justify-content-center">
            <div class = "col-md-12 mt-5 pt-5">
                <div class = "row z-depth-3">
                    <div class="col-sm-12 rounded-left"> 
                        <h1> Add/ edit personal task</h1>
                        <div class="input-form">
                            <!-- DMcC 18/11/23 removed action="" as it throws an error on W3C checking -->
                            <form method="post" style="margin-top:1.3em">
                                <br>
                                {% csrf_token %} 
                                {{form.as_p}}
                                <p></p>
                                <button class="btn btn-signup right" type="submit">Submit</button>
                                <a class="cancel-link" href="{% url 'my_planner' %}" > Cancel </a>
                            </form>
                            <p></p>
                            <br>
                        </div>    
                    </div> <!-- end class col col-sm-12 rounded-left-->
                </div> <!-- end div class row z-depth-3 -->
            </div> <!-- end div class col-md-10 mt-5 pt-5-->
        </div> <!-- end div class row d-flex justify-content-center -->
        
    </div> <!-- end div class row g-0 -->
     
</div> <!-- end div class container bg-grey -->
<!-- DMcC 16/11/23 the below javascript is a corrector/workaround for Bug Issue #20 -->
<script>
    function alter_form_field_display() {
        console.log("In function alter_form_field_display()")
        const action_user = document.getElementById("id_user");
        document.getElementById("id_user").classList.add("hide-field");
        action_user.readOnly=true;
        user_label = action_user.previousElementSibling;
        user_label.classList.add("hide-field");
        document.getElementById("id_user_action_seq").readonly=true;
        document.getElementById("id_user_action_seq").previousElementSibling.innerHTML="Seq:  ";
        document.getElementById("id_user_action_desc").previousElementSibling.innerHTML="Task:  ";
        document.getElementById("id_user_action_url").previousElementSibling.innerHTML = "Related URL:  ";
        document.getElementById("id_user_action_taken").previousElementSibling.innerHTML = "Action taken:  ";
        document.getElementById("id_observation").previousElementSibling.innerHTML = "Progress:  ";
        document.getElementById("id_completed").previousElementSibling.innerHTML = "Done: ";
        

        document.getElementById("id_parent_article").readonly=true;
        }
    
/* the next function is a display corrector for very wide display of the user_action_desc field which throws out the remainder of the display */    
   function action_desc_display() {
        console.log("In function action_desc_display");
        document.getElementById("id_user_action_desc").classList.add("long-text-input");
        document.getElementById("id_parent_article").classList.add("long-text-input")
        }
        
    alter_form_field_display(); 
    action_desc_display();    
</script>             
{% endblock content %}