{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container bg-grey">
    <div class="row g-0">
        <div class="row d-flex justify-content-center">
            <div class = "col-md-10 mt-5 pt-5">
                <div class = "row z-depth-3">
                    <div class="col-sm-4 bg-info rounded-left">
                        <div class ="card-block text-center text-white">
                            <img class="fas fa-user-tie fa-7x mt-5 img-fluid" src=" {{ profile_image.url }}">
                            <h2 class="font-weight-bold mt-4" id="userid">{{user}}</h2>
                            <p>{{first_name}}  {{last_name}}</p>
                        </div> <!-- end class card-block -->
                    </div> <!-- end class col -->
                    <div class="col-sm-8 bg-info rounded-right">
                        <h3 class="mt-3 text-center">User Profile</h3>
                        <hr class="bg-primary mt-0">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Email:</p>
                                <h6 class="text-muted">{{email}}</h6> 
                            </div> <!-- end class col-sm-6 -->
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Birth Year:</p>
                                <h6 class="text-muted" id="birth_year">{{birth_year}}</h6> 
                            </div> <!-- end class col-sm-6 -->
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Approx age:</p>
                                <h6 class="text-muted" id="approx_age">
                                    <script>const d = new Date();
                                    let curr_year= parseInt(d.getFullYear());
                                    console.log("Current year is " + (curr_year) + ", Next year is " + (curr_year+1));
                                    let int_birth_year = parseInt(document.getElementById("birth_year").innerHTML)
                                    console.log("Birth year is " + int_birth_year + ", Next year is " + (int_birth_year+1));
                                    let approx_age_calc = curr_year - int_birth_year;
                                    console.log("Approx age is " + approx_age_calc);                            
                                    document.getElementById("approx_age").innerHTML = approx_age_calc;
                                    </script></h6> 
                            </div> <!-- end class col-sm-6 -->
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Last logged In:</p>
                                <h6 class="text-muted" id="last_login">{{last_login}}
                                </h6> 
                            </div> <!-- end class col-sm-6 -->
                        </div> <!-- end class row -->
                        <h4 class="mt-3">Site Engagement</h4>
                        <hr class="bg-primary">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class = "text-muted fas fa-heart" data-bs-toggle="tooltip" title="# Likes"></i>
                                <h6 class="text-muted">{{number_of_likes}}</h6>
                            </div>
                            <div class="col-sm-3">
                                <i class = "text-muted fas fa-bookmark" data-bs-toggle="tooltip" title="Bookmarks"></i>
                                <h6 class="text-muted">{{number_of_bookmarks}}</h6>
                            </div>
                            <div class="col-sm-3">
                                <i class="text-muted far fa-comments" data-bs-toggle="tooltip" title="(Moderated) Comments"></i> 
                                <h6 class="text-muted">{{ number_of_valid_comments }}</h6>
                            </div>
                            <div class="col-sm-3">
                                <i class="text-muted fa fa-arrow-right" data-bs-toggle="tooltip" title="Personal Actions"></i> 
                                <h6 class="text-muted">{{number_of_actions}}</h6>
                            </div> <!-- end class col-sm-8 -->
                        </div> <!-- end class row -->
                 
                    </div> <!-- end div class col-sm-8 bg-info rounded-right -->    
                    
                </div> <!-- end div class row z-depth-3 -->
                <strong>User Actions:</strong><table class="table-bordered table-striped table-hover table-responsive">
                    <tr><h6>
                        <th>Seq</th>
                        <th>Added Date</th>
                        <th>Parent Article</th>
                        <th>Action</th>
                        <th>Done so Far</th>
                        <th>Results</th>
                        <th>Done?</th>
                        <th>Date Completed</th>
                    </h6>
                    </tr>
                    <form method="post" style="margin-top:1.3em";>
                        {% for action in actions %}
                        <tr class="text-muted">
                            <td>{{action.user_action_seq}}</td>
                            <td class="date">{{action.created_on}}</td>
                            <td>{{action.parent_article}}</td>
                            <td>{{action.user_action_desc}}</td>
                            <td>{{action.user_action_taken}}</td>
                            <td>{{action.observation}}</td>
                            <td>{{action.completed}}</td>
                            <td>{{action.completd_on}}</td>
                        </tr>
                        {% endfor %}
                    </form>
                </table>
                <strong>Bookmarks:</strong><table class="table-bordered table-striped table-hover table-responsive">
                    <tr><h6>
                        <th>Seq</th>
                        <th>Added Date</th>
                        <th>Parent Article</th>
                        <th>Action</th>
                        <th>Done so Far</th>
                        <th>Results</th>
                        <th>Done?</th>
                        <th>Date Completed</th>
                    </h6>
                    </tr>
                    <form method="post" style="margin-top:1.3em";>
                        {% for bookmark in bookmarks %}
                        <tr class="text-muted">
                            <td>{{action.user_action_seq}}</td>
                            <td class="date">{{action.created_on}}</td>
                            <td>{{action.parent_article}}</td>
                            <td>{{action.user_action_desc}}</td>
                            <td>{{action.user_action_taken}}</td>
                            <td>{{action.observation}}</td>
                            <td>{{action.completed}}</td>
                            <td>{{action.completd_on}}</td>
                        </tr>
                        {% endfor %}
                    </form>
                </table>
                
            </div> <!-- end div class col-md-10 mt-5 pt-5-->
            
        </div> <!-- end div class row d-flex justify-content-center -->
        
    </div> <!-- end div class row g-0 -->
     
</div> <!-- end div class container bg-grey -->


<script>
    function calc_age() {
        const d = new Date();
        let curr_year= parseInt(d.getFullYear());
        console.log("Current year is " + (curr_year) + ", Next year is " + (curr_year+1));
        let int_birth_year = parseInt(document.getElementById("birth_year").innerHTML)
        console.log("Birth year is " + int_birth_year + ", Next year is " + (int_birth_year+1));
        let approx_age_calc = curr_year - int_birth_year;
        console.log("Approx age is " + approx_age_calc);                            
        document.getElementById("approx_age").innerHTML = approx_age_calc;
        };
</script>

        
                                
{% endblock content %}