{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container bg-grey">
    <div class="row g-0">
        <div class="row d-flex justify-content-center">
            <div class = "col-md-10 mt-5 pt-5">
                <div class = "row z-depth-3">
                    <div class="col-sm-4 bg-info rounded-left">
                        <div class ="card-block text-center text-white ">
                            <img class="fas fa-user-tie fa-7x mt-5" src=" {{ profile_image.url }}">
                            <h2 class="font-weight-bold mt-4">User:  {{user}}</h2>
                            <p>{{birth_year}}</p>
                        </div> <!-- end class card-block -->
                    </div> <!-- end class col -->
                    <div class="col-sm-8 bg-info rounded-right">
                        <h3 class="mt-3 text-center">User Profile</h3>
                        <hr class="badge-primary mt-0 w-25">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Email:</p>
                                <h6 class="text-muted">{{email}}</h6> 
                            </div> <!-- end class col-sm-6 -->
                        </div> <!-- end class row -->
                    </div> <!-- end class col-sm-8 -->    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}