{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<!-- DMcC 18/11/23 removed action="" from the post below -->
<!-- DMcC 18/11/23 removed references to form as think this is just a display page now, think the work is done in the create_user page -->
<!--    <form method="POST" style="margin-top:1.3em"  enctype="multipart/form-data"> --> 
<!--    {% csrf_token %} -->

    <div class="container bg-grey">
        <div class="row g-0">
            <div class="row d-flex justify-content-center">
                <div class = "col-md-10 mt-5 pt-5">
                    <div class = "row z-depth-3">
                        <div class="profile-card col-sm-4 rounded">
                            <div class ="card-block text-center text-grey rounded-left">
                                {% if "placeholder" in profile_image.url %}
                                <img class="card-img-top rounded"
                                    src="../../static/images/placeholder.png">
                                {% else %}
                              <!--  <img class="mt-5 img-fluid" src="{{ profile_image.url }}"> -->
                                <img class="mt-5 img-fluid" src="{{request.user.userprofile.profile_image.url}}" alt="Users profile image or Avatar">
                                <p></p>
                                {% endif %}

                                <!-- Change the appearance of the default file upload button -->
                                <!--- this image upload functionality moved onto profile add / update page for now -->
                                <!-- <label for="profile_image" class="label-btn btn-signup">Choose profile Image</label>
                                <input type="file" id="profile_image" accept="img/png, img/jpg" hidden/> -->
        
                                <h2 class="font-weight-bold mt-4" id="userid">{{user}}</h2>
                                <p>{{request.user.first_name}}  {{request.user.last_name}}</p>

                                

    <!-- intended to do a check if the user profile exists and restrict functionality (e.g. adding actions) if not -->
    <!-- however, the user only reaches this page if they are a rgistered user so better to ensure the user profile -->
    <!-- was auto created when they became a registered user, and to allow them to continue here -->
    <!--                          <p id="user_profile">{{user_profile}}</p>  -->
                            </div> <!-- end class card-block -->
                        </div> <!-- end class col -->
                        <div class="profile-card col-sm-8 rounded">
                            <h1 class="mt-3 text-center">My Profile</h1>
                            <hr class="mt-0 bg-info">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Email:</p>
                                    <h6 class="text-muted">{{request.user.email}}</h6> 
                                </div> <!-- end class col-sm-6 -->
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Birth Year:</p>
                                    <h6 class="text-muted" id="birth_year">{{request.user.userprofile.birth_year}}</h6> 
                                </div> <!-- end class col-sm-6 -->
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Age:</p>
                                    <h6 class="text-muted" id="age_approx">{{request.user.userprofile.age_approx}}</h6> 
                                </div> <!-- end class col-sm-6 -->
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Last logged In:</p>
                                    <h6 class="text-muted" id="last_login">{{request.user.last_login}}
                                    </h6> 
                                </div> <!-- end class col-sm-6 -->
                            </div> <!-- end class row -->    
                        
                  
                        <h4 class="mt-3">Site Engagement</h4>
                        <hr class="bg-primary">
                        <div class="row">
                            <div class="col-sm-3">
                                <!-- DMcC 16/11/23 Replace 'Like' with 'handclap' icon (nopes didnt work, try thumbs-up) -->
                                <!-- <i class = "large fa-solid fa-heart red-o" data-bs-toggle="tooltip" title="# Likes"></i> -->
                                <i class="fas fa-thumbs-up btn-like" data-bs-toggle="tooltip" data-bs-placement="top" title="# Likes"></i> 
                                <h6 class="text-muted">{{number_of_likes}}</h6>
                            </div>
                            <div class="col-sm-3">
                                <a href="#my-bookmarks"><i class = "large fas fa-bookmark" data-bs-toggle="tooltip" data-bs-placement="top" title="Bookmarks"></i></a>
                                <h6 class="text-muted">{{number_of_bookmarks}}</h6>
                            </div>
                            <div class="col-sm-3">
                                <a href="#my-comments"><i class="far fa-comments" data-bs-toggle="tooltip" data-bs-placement="top" title="(Moderated) Comments"></i></a> 
                                <h6 class="text-muted">{{ number_of_valid_comments }}</h6>
                            </div>
                            <div class="col-sm-3">
                                <a href="#my-actions"><i class="fa fa-arrow-right red-o " data-bs-toggle="tooltip" data-bs-placement="top" title="Personal Actions"></i></a> 
                                <h6 class="text-muted">{{number_of_actions}}</h6>
                            </div> <!-- end class col-sm-8 -->
                        </div> <!-- end class row -->
                    <a href="{% url 'create_user' %}"> 
                            <button class="btn btn-signup right" type="submit">Create user</button></a>
                            
  <!--                      <a href="{% url 'update_user' request.user.id %}">  -->
<!--                                <button class="btn btn-signup right" type="submit">Update user</button></a>  -->
                    </div> <!-- end div class col-sm-8 bg-info rounded-right -->    
                    
                </div> <!-- end div class row z-depth-3 -->
                
            </div> <!-- end div class col-md-10 mt-5 pt-5-->
            
        </div> <!-- end div class row d-flex justify-content-center -->
        
    </div> <!-- end div class row g-0 -->

    <div class = "container-fluid" id="actions-container">
    
    <br>

    {%if actions %}    <div class = "table-responsive">
            <strong id="my-actions">My Actions:</strong>
            <table class="table table-bordered table-hover ">
                <thead class="table-success">
                    <tr>
                    <th></th>
                    <th></th>
                    <th>Seq</th>
                    <th>Date added</th>
                    <th>Action</th>
                    <th>Done so Far</th>
                    <th>Results</th>
                    <th>Done?</th>
                    <th>Date Completed</th>
                    <th>URL</th>
                    </tr>
                </thead>
                <!-- DMcC 18/11/23 Remove reference to form below as dont believe it is needed -->
                <!-- <form method="post" style="margin-top:1.3em";> -->
                    {% for action in actions %}
                    <tr class="text-muted">
                        <td><a href="{% url 'update_action' action.id %}"><i class="far fa-edit icon-edit"></i></a></td>
                        <td><a href="{% url 'delete_action' action.id %}"><i class='far fa-trash-alt icon-delete'></i></a></td>
                        <td>{{action.user_action_seq}}</td>
                        <td class="date">{{action.created_on|date:"d/m/y"}}</td>
                        <td>{{action.user_action_desc}}</td>
                        <td>{{action.user_action_taken}}</td>
                        <td>{{action.observation}}</td>
                        <td>{{action.completed|yesno:"Y,N"}}</td>
                        <td>{{action.completed_on|date:"d/m/y"}}</td>
                        {% if action.user_action_url %}
                        <td><a href="{{action.user_action_url}}">link</a></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        
                    
                    </tr>
                    {% endfor %}
                    <!-- DMcC removing the form tag below as believe it is redundant -->
                <!-- </form> -->
            </table>
        </div> <!-- class = "table-responsive"-->
        {% endif %}
        
        <a href="{% url 'create_action' %}"><button class="btn btn-signup right" type="submit">Add new action</button></a>
            
    </div> <!-- end id=actions-container -->
            <p></p>

    
    {% if bookmarks %}
    <strong id="my-bookmarks">My Reading List:</strong>
    
    <table class="table table-bordered table-hover table-responsive">
        <thead class="table-success">
            <tr>
            <th>Article</th>
            <th>Date</th>
            </tr>
        </thead>
    
        <!-- DMcC 18/11/23 removing the refernce to form below as believe it is redundant -->
        <!-- <form method="post" style="margin-top:1.3em";> -->
            {% for bookmark in bookmarks %}
            
            <tr class="text-muted">
<!--                <td><a href="{% url 'delete_bookmark' bookmark.id %}">Delete</a></td> -->
                <td><a href="../{{bookmark.slug}}">{{bookmark}}</a></td> 
                <td class="date">{{bookmark.created_on|date:"d/m/y"}}</td>
            </tr>
            {% endfor %}
        <!-- DMcC 18/11/23 removing the refernce to form below as believe it is redundant -->
    <!-- </form> -->
    </table>
    {% endif %}
    
    {% if comments %}
    <strong id="my-comments">My Comments:</strong>
    <table class="table table-bordered table-hover table-responsive">
        <thead class="table-success">
            <tr>
            <th>Article</th>
            <th>Comment</th>
            <th>Approved</th>
            <th>Date</th>
            </tr>
        </thead>
        {% for comment in comments %}
        <tr class="text-muted">
<!--            <td><a href="{% url 'delete_comment' comment.id %}">Delete</a></td>  -->
            <td><a href="../{{comment.article.slug}}">{{comment.article}}</a></td> 
            <td>{{comment.body}}</td>
            <td>{{comment.approved|yesno:"Y,N"}}</td>
            <td class="date">{{comment.created_on|date:"d/m/y"}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</div> <!-- end div class container bg-grey -->

<script>
    function calc_age() {
        const d = new Date();
        let curr_year= parseInt(d.getFullYear());
        console.log("Current year is " + (curr_year) + ", Next year is " + (curr_year+1));
        let int_birth_year = parseInt(document.getElementById("birth_year").innerHTML)
        console.log("Birth year is " + int_birth_year + ", Next year is " + (int_birth_year+1));
        let approx_age_calc = curr_year - int_birth_year;
        console.log("Approx age is " + approx_age_calc);                            
        document.getElementById("approx_age").innerHTML = approx_age_calc;
        };
</script>

<!-- DMcC 16/11/23 the following script needed to control tooltip display above the hovered element-->    
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<script>

    const d = new Date();
    let curr_year= parseInt(d.getFullYear());
    var birth_year = document.getElementById("birth_year");
    birth_year.onchange = calc_dates()

    function calc_dates() {
        let int_birth_year = parseInt(birth_year.innerHTML)
        let approx_age_calc = curr_year - int_birth_year;
        document.getElementById("age_approx").innerHTML = approx_age_calc;
    }
</script>
        
                                
{% endblock content %}